.conversation {
    margin: 0 5%; 

    @include tablet {
        margin: 0 3%; 
    }

    @include desktop {
        margin-right: 0; 
    }

    &__header {
        font-family: 'avenir-bold';
        margin: 0 0 2rem;
        font-size: 1rem;

       @include tablet {
            margin: 3rem 0 3.5rem 0; 
            font-size: 1rem;
        }
    }

    &__wrapper {
        margin: 0 0 2.5rem; 
    }

    &__form {
        display: flex;
    }

    &__avatar-wrapper {
        position: relative;
        margin: 1.5rem 0 0; 
        width: 50px; 
        height: 50px; 
        border-radius: 50%;
        overflow: hidden;
    }

    &__thread {
        display: flex;
        flex-direction: column;
    }

    &__avatar {
        width: inherit;
        height: inherit;
        background-color: $silver;
        object-fit: cover;
    }

    &__input {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__field-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__field {
        display: flex;
        flex-direction: column;
        margin: 0 0 1.5rem; 
        
        @include tablet {
            flex-direction: row;
            align-content: center;
            height: 3rem; 
        }
    }

    &__field > {
        width: 100%;
    }

    &__field-header {
        margin: 0 0 0.3rem;
        font-family: 'avenir-bold';
        font-size: 0.75rem; 
        text-transform: uppercase;
        color: $silver;
    }

    &__fill {
        padding: 0.75rem 0.5rem; 
        margin: 0 0 1rem;
        border: 2px solid $mercury; 
        border-radius: 5px;
        background-color: $alabaster;

        @include tablet {
            width: 68%; 
            margin: 0;
        }
    }

    &__cta {
        align-self: flex-end;
        width: 100%; 
        height: 3rem; 
        margin: 0 0 1rem;
        font-family: 'avenir-bold'; 
        color: $white;
        text-transform: uppercase;
        border-style: none;
        border-radius: 5px;
        background-color: $blue-light;
        cursor: pointer;

        @include tablet {
            width: 25%; 
            margin: 0 6% 0 2%; 
        }
    }

    &__field-wrapper, 
    &__comment-text {
        width: 75%;
        margin: 0 0 0 1.25rem;

        @include tablet {
            width: 90%; 
            margin: 0 0 0 1.25rem; 
        }
    }

    &__form, 
    &__comment {
        border-bottom: 1px solid $mercury;
    }

    &__comment {
        display: flex; 
        justify-content: center;
        margin: 1.5rem 0; 
    }

    &__comment-text {
        margin: 0 0 1.5rem;
    }

    &__comment-id {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 1rem;

        @include tablet {
            justify-content: flex-start;
            margin: 0 0 1rem;
        }
    }

    &__comment-name {
        margin-left: 0.5rem;
        font-family: 'avenir-bold';
        font-size: 1rem; 
    }

    &__comment-date {
        margin: 0 0 0 0.625rem;
        color: $silver; 
    }

    &__comment-msg {
        margin-left: 0.5rem;

        @include tablet {
            width: 80vw; 
        }

        @include desktop {
            width: 100%;
        }
    }
}

#msg {
    border: 2px solid $blue-light; 
}