//Fonts
@font-face {
    font-family: 'avenir-regular';
    src: url('../../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf');
}
@font-face {
    font-family: 'avenir-med';
    src: url('../../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Medium.otf');
}
@font-face {
    font-family: 'avenir-bold';
    src: url('../../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf');
}

#root {
    font-family: 'avenir-regular';
}
//Colours
$black: #323232;
$blue-light: #0095FF;
$blue-regular: #0065AD;
$blue-dark: #002F5F;
$white: #FFFFFF;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;